.env
__pycache__/
*.pyc
*.log
venv/x'                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
.DS_Store
